Access Previlages:

We have totally 5 users for our DB:
1. Admin - Has all access to all DBs
2. DBA - Has all access on CHAT_GPT_TWEETS db
3. Developer - Has all access on CHAT_GPT_TWEETS db
4. Analyst1 - Has SELECT access on CHAT_GPT_TWEETS db
5. Analyst2 - Has SELECT access on one table CHAT_GPT_TWEETS.TWEETS from CHAT_GPT_TWEETS db

Accesses are provided based on their roles and requirement.

In [59]:
!pip install PyMySQL

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: PyMySQL in /usr/local/lib/python3.9/dist-packages (1.0.2)

In [60]:
import pymysql;

In [61]:
db = pymysql.connect(host='your host link',
user='username', 
password = 'password')

In [62]:
cursor = db.cursor()

In [ ]:
cursor.execute('select version()')

1

In [ ]:
sql = '''DROP DATABASE IF EXISTS CHAT_GPT_TWEETS '''
cursor.execute(sql)

0

In [ ]:
sql = '''CREATE DATABASE CHAT_GPT_TWEETS '''
cursor.execute(sql)

1

In [ ]:
cursor.connection.commit()

In [ ]:
sql = '''SHOW DATABASES'''
cursor.execute(sql)
cursor.fetchall()

(('CHAT_GPT_TWEETS',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',))

In [ ]:
sql = '''USE CHAT_GPT_TWEETS'''
cursor.execute(sql)

0

In [ ]:
sql = '''CREATE TABLE TWEETS(
  TWEET_ID INT,
  TWEET_TEXT VARCHAR(100)
) '''
cursor.execute(sql)

0

In [ ]:
sql = '''INSERT INTO TWEETS(TWEET_ID, TWEET_TEXT)
VALUES (%s, %s) 
 '''
val = ('1234', 'TWEET 123 EXAMPLE1')
cursor.execute(sql,val)

1

In [ ]:
cursor.connection.commit()

In [ ]:
sql = '''SELECT * FROM TWEETS;'''
cursor.execute(sql)
cursor.fetchall()

((1234, 'TWEET 123 EXAMPLE1'),)

In [ ]:
sql = '''CREATE USER DBA 
IDENTIFIED BY 'password1';'''
cursor.execute(sql)

0

In [ ]:
cursor.connection.commit()

In [ ]:
sql = '''CREATE USER Developer 
IDENTIFIED BY 'password1';'''
cursor.execute(sql)

0

In [ ]:
sql = '''CREATE USER Analyst1 
IDENTIFIED BY 'password1';'''
cursor.execute(sql)

0

In [ ]:
sql = '''CREATE USER Analyst2 
IDENTIFIED BY 'password1';'''
cursor.execute(sql)

0

In [63]:
sql = '''SELECT user FROM mysql. user'''
cursor.execute(sql)
cursor.fetchall()

(('Analyst1',),
 ('Analyst2',),
 ('DBA',),
 ('Developer',),
 ('admin',),
 ('mysql.infoschema',),
 ('mysql.session',),
 ('mysql.sys',),
 ('rdsadmin',))

In [ ]:
# grant all access for CHAT_GPT_TWEETS db to DBA
sql = '''GRANT ALL ON CHAT_GPT_TWEETS.* TO DBA;'''
cursor.execute(sql)

0

In [ ]:
# grant all access for all tables in CHAT_GPT_TWEETS db to Developer
sql = '''GRANT ALL ON CHAT_GPT_TWEETS.* TO Developer;'''
cursor.execute(sql)

0

In [ ]:
# grant SELECT access for all tables in CHAT_GPT_TWEETS db to Analyst1
sql = '''GRANT SELECT ON CHAT_GPT_TWEETS.* TO Analyst1;'''
cursor.execute(sql)

0

In [ ]:
# grant SELECT access for only TWEET table in CHAT_GPT_TWEETS db to Analyst2
sql = '''GRANT SELECT ON CHAT_GPT_TWEETS.TWEETS TO Analyst2;'''
cursor.execute(sql)

0